* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  border: 3px solid #040403;
  overflow-x: hidden;
}

.nav {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #040403;
  color: #fffffc;
}
.brand-name {
  font-size: 50px;
}

.menu {
  width: 60vw;
}
.menu > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  list-style: none;
}
.menu > ul > li {
  list-style: none;
  text-decoration: none;
  margin: 0 10px;
  font-size: 25px;
}

.menu > ul > li > a {
  text-decoration: none;
  color: #fffffc;
  list-style: none;
}

.hero {
  background-image: url("https://images.pexels.com/photos/937980/pexels-photo-937980.jpeg?auto=compress&cs=tinysrgb&w=600");
  /* background-size: cover; */
  object-fit: contain;
  background-position: center;
  height: 70vh;
  width: 100vw;
  /* border: 2px solid green; */
}

.my-shop-products {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  width: 100%;
  padding: 10px 20px;
  margin-top: 3vh;
  gap: 30px;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  /* border: 2px solid blue; */
  margin-bottom: 1vh;
}

.product-img {
  border-radius: 10px;
  width: 20vw;
  height: 50vh;
  object-fit: cover;
  margin-bottom: 3vh;
}
.product-img:hover {
  transform: scale(1.01);
  transition: all 0.5s ease-in-out;
}

.product-name {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 1vh;
}
.product-desc {
  width: 20vw;
  font-size: 20px;
  font-weight: 400px;
  margin-bottom: 1vh;
}

.details {
  display: flex;
  gap: 40px;
}

.price {
  width: 8vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #040403;
  border-radius: 10px;
  font-size: 30px;
  color: green;
}
.quntity {
  width: 8vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 30px;
  background-color: #040403;
  color: #fffffc;
}

.action-btn {
  width: 80%;
  height: 10%;
  border: 2px solid #040403;
  margin: 10px;
  padding: 13px;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: #040403;
  color: white;
  cursor: pointer;
}
.action-btn:hover {
  background-color: white;
  color: #040403;
}
