:root{
    --gray: rgb(138, 138, 138);
    --lightgray: rgb(220, 220, 220);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}
/* Login and signup */
.container{
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 60vh;
    width: 70%;
    margin: auto;
    box-shadow: 1px 1px 4px 2px;
}
.left{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}
.right{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
.userdata{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 20px;
    height: 20px;
    width: 80%;
    margin: 5px auto; 
}
::placeholder{
    color: white;
    opacity: 1;
}
.authbtn{
    color: black;
    background-color: white;
    border-radius: 10px;
    height: 40px;
    width: 20%;
    margin: 10px auto;
    font-size: 18px;
    font-weight: bold;
}
.authbtn:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}
/* navbar */
nav{
    background-color: black;
    display: flex;
    flex-direction: row;
    height: 15vh;
    color: white;
}
.logodiv{
    /* background-color: black; */
    display: flex;
    width: 10%;
    height: 100%;
}
.menu-options{
    display: flex;
    flex-direction: row;
    margin: auto 0;
    width: 100%;
    justify-content: space-between;
}
.pages ul, .menu-icons ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    /* background-color: rgb(239, 176, 49); */
}
.pages ul li{
    margin-left: 20px;
}
.pages ul li:hover, .menu-icons ul li:hover{
    cursor: pointer;
    color: var(--gray);
}
#searchbar{
    border-radius: 10px;
    padding: 3px;
}
#searchbar::placeholder{
    color: black;
}
.search{
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    width: 17%;
    justify-content: space-between;
    color: rgb(255, 255, 255);
}
.menu-icons li{
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    font-weight: bold;
}

