* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  width: 99vw;
  height: 99vh;
  /* border: 3px solid #040403; */
  justify-content: center;
  align-items: center;
  background-color: #fffffc;
}

.alert {
  margin-bottom: 5vh;
  font-size: 20px;
  color: red;
}

.main {
  width: 90vw;
  height: 90vh;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-name {
  font-size: 50px;
}

.form-container {
  width: 40vw;
  height: 100%;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container > input {
  width: 80%;
  height: 10%;
  border: 2px solid #040403;
  margin: 10px;
  padding: 13px;
  font-size: 1.5rem;
  border-radius: 10px;
}
.form-container > button {
  width: 80%;
  height: 10%;
  border: 2px solid #040403;
  margin: 10px;
  padding: 13px;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: #040403;
  color: white;
  cursor: pointer;
}
.form-container > button:hover {
  background-color: white;
  color: #040403;
}
.register-link {
  font-size: 2rem;
}
.register-link > a {
  text-decoration: none;
  color: #0b3591;
}

.brand {
  width: 40vw;
  height: 100%;
  /* border: 2px solid green; */
}
.brand-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
